<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}JdR{% endblock %}</title>
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{{ asset('assets/css/materialize.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    {% include 'navbar.html.twig' %}
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('assets/js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/general.min.js') }}"></script>
    {% endblock %}

</div>
</body>
</html>



