

<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ asset('assets/images/sky-vignette.jpg') }}">
            </div>

                <a href="{% if app.user %}{{ path('fos_user_security_logout') }}{% else %}{{ path('fos_user_security_login') }}{% endif %}"
                   class="btn-floating right btn-large waves-effect waves-light black"><i class="large material-icons">power_settings_new</i></a>

            <a href="#!user"><img class="circle" src="{{ asset('assets/images/batclip.jpg') }}"></a>

        </div>
        {% if app.user %}
            <h1 class="black-text flow-text truncate">{{ app.user.username }}</h1>
        {% endif %}
    </li>
    {% if is_granted('ROLE_ADMIN') == false %}
        {% if app.user %}
            <li><a href="{{ path('show_character', {'character' : app.user.id}) }}"><i class="material-icons">account_box</i>Voir mon personnage</a></li>
        {% endif %}
    {% endif %}

    {% if app.user %}
        <li><a class="subheader">Partie</a></li>
        <li><a class="waves-effect" href="{{ path('dashboard') }}">Actions</a></li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Admin</a></li>
        <li><a href="{{ path('character_list') }}" class="waves-effect">Liste des persos</a></li>
    {% endif %}
</ul>
