{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
            {% for user in users if user.role('ROLE_ADMIN') == false %}
                {% if loop.first or (loop.index  -1)  is divisible by(3) %}
                    <div class="row">
                {% endif %}
                <div class="col s12 m4">
                    <h4 class="header truncate">{{ user.characterName }} -
                        <small> {{ user.username }}</small>
                    </h4>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{{ asset('assets/images/batclip.jpg') }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>{{ user.clan }}</p>
                                <p>{{ user.concept }}</p>
                                <p>Experience : {{ user.spentExperience }} / {{ user.totalExperience }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('edit_character', {'id' : user.id}) }}" class="cardLink tooltipped" data-tooltip="éditer"><i class="material-icons left">edit</i></a>
                                <a href="{{ path('delete_character', {'id' : user.id}) }}" class="cardLink right tooltipped" data-tooltip="supprimer" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce personnage ?')"><i class="material-icons">delete_forever</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index is divisible by(3) %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>


{% endblock %}